<!-- <% if @current_user && @current_user.admin %>
  <%= link_to "Edit", edit_product_path(@product), class:"btn btn-default" %>
  <%= link_to "Delete", product_path(@product), method: :delete, class:"btn btn-default" %>
<% end %> -->
<% if admin? %>
  <%= link_to "Edit", products_edit_path(@product), class:"btn btn-default" %>
  <%= link_to "Delete", products_destroy_path(@product), method: :delete, class:"btn btn-default" %>
<% end %>

<div class="row">
  <!-- Blog product Content Column -->
  <div class="col-lg-8">
    <!-- Blog product -->
    <!-- Title -->
    <h1><%= @product.name %></h1>
    <hr>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="..." alt="...">
        </a>
      </div>
      ...
    </div>
    <!-- Date/Time -->
    <!-- product Content -->
      Price: <%= @product.price_cents %>
      Quantity: <%= @product.stock_quantity %>
    </p>
    <%= @product.description %>
    <hr>
    <h2>Add to Cart:</h2>
    <%= bootstrap_form_for(@order_item) do |f| %>
      <%= f.number_field :quantity, class: "form-control", placeholder: "Quantity", min: 1, max: @product.stock_quantity   %>
      <%= f.hidden_field :subtotal, class: "form-control", :value => @product.stock_quantity  %>
      <%= f.hidden_field :product_id, :value => @product.id %>
      <%= f.submit "Add to Cart", class: "btn btn-default"%>
    <% end %>

  </div>
  <hr>
</div>

<div id="disqus_thread"></div>
  <script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'slapong'; // required: replace example with your forum shortname
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<br>
<br>
