<!DOCTYPE html>
<html>
<head>
  <title>Slapong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">

      <nav>
        <ul>
          <%= link_to "Slapong", root_path %>
          <%= link_to "Events", events_path %>
          <%= link_to "Play", play_path %>
          <%= link_to "Blog", blogs_path %>
          <%= link_to "Contact", contact_path %>
          <%= link_to "Shop", shop_path %>
        </ul>
      </nav>

      <%= yield %>

  </div><!-- container -->

</body>
</html>
